{{ define "content" }}
    <div class="content">
        <div id="app">
            <p v-for="(message, index) in messages">
                <span v-html="message"></span>
            </p>
            <ul>
                <li v-for="(utk, index) in utks">
                    [[ utk.TargetUrl ]], [[ utk.KeywordText ]]
                    <span>
                        <button v-on:click="deleteUtk(index)">
                            <i></i>
                        </button>
                    </span>
                </li>
            </ul>
            <div>
                Insert a keyword
                <input type="text" 
                    placeholder="New Keyword" 
                    v-on:keyup.enter="createKeyword"
                    v-model="newKeyword.Text">
            </div>
            <div>
                Assign it to one or more targets
                <vue-multi-select
                    v-model="selectedTargets"
                    :options="targets"
                ></vue-multi-select>
            </div>
            <button v-on:click="createKeyword">Create</button>
        </div>
    </div>
    <script src="https://unpkg.com/vue-simple-multi-select@latest"></script>
    <script>
        new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data: {
                    messages: '',
                    targets: {{.Targets}},
                    utks: {{.Utks}},
                    newKeyword: {},
                    selectedTargets: null
                },
            methods: {
                createKeyword: function() {
                    this.$http.put('/keywords', {
                        "selectedTargets": this.selectedTargets,
                        "newKeyword": this.newKeyword
                        }).then(function(response) {
                            this.messages = response.data.Messages
                            if(response.data.Added){
                                temp_utks = response.data.Utks
                                for (var i = 0; i < temp_utks.length; i++) {
                                    if (this.utks == null){
                                        this.utks = [temp_utks[i]]
                                    } else {
                                        this.utks.push(temp_utks[i])
                                    }
                                }
                            }
                    }).catch(function(error) {
                        console.log(error)
                    });
                },
                deleteUtk: function(index) {
                    payload = {
                        "TargetUrl": this.utks[index].TargetUrl,
                        "KeywordText": this.utks[index].KeywordText
                        }
                    this.$http.put('/keywords/remove', payload).then(function(response) {
                        this.message = response.data.Message
                        this.utks.splice(index, 1)
                        console.log(response)
                    }).catch(function(error) {
                        console.log(error)
                    });
                }
            }
        })
    </script>
{{ end }}