{{ define "content" }}
    <div id="app">
        <div class="content">
            <div class="addkeyword"> 
                <h1>
                    Add a new keyword
                </h1>
                <p v-for="(message, index) in messages">
                    <span v-html="message"></span>
                </p>
                <div>
                    <span>Keyword's targets</span>
                    <vue-multi-select
                        v-model="selectedTargets"
                        :options="targets"
                        class="multiselect"
                    ></vue-multi-select>
                </div>
                <div>
                    <span>Keyword's text</span>
                    <input type="text" 
                        placeholder="New Keyword" 
                        v-on:keyup.enter="createKeyword"
                        v-model="newKeyword.Text">
                    <span>
                        <button v-on:click="createKeyword" class="buttonCreate">Create</button>
                    </span>
                </div>
            </div>
            <div>
                <h1>
                    My keywords
                </h1>
                <table v-if="utks">
                    <tr>
                        <th>CreatedAt</th>
                        <th>Keyword</th>
                        <th>Target</th>
                    </tr>
                    <tr v-for="(utk, index) in utks">
                        <td>[[ utk.CreatedAt ]]</td>
                        <td>[[ utk.KeywordText ]]</td>
                        <td>[[ utk.TargetUrl ]]</td>
                        <td>
                            <span>
                                <button v-on:click="deleteUtk(index)" class="buttonDelete">
                                    <i>Delete</i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue-simple-multi-select@latest"></script>
    <script>
        new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data: {
                    messages: '',
                    targets: {{.Targets}},
                    utks: {{.Utks}},
                    newKeyword: {},
                    selectedTargets: null
                },
            methods: {
                createKeyword: function() {
                    this.$http.put('/keywords', {
                        "selectedTargets": this.selectedTargets,
                        "newKeyword": this.newKeyword
                        }).then(function(response) {
                            this.messages = response.data.Messages
                            if(response.data.Added){
                                temp_utks = response.data.Utks
                                for (var i = 0; i < temp_utks.length; i++) {
                                    if (this.utks == null){
                                        this.utks = [temp_utks[i]]
                                    } else {
                                        this.utks.push(temp_utks[i])
                                    }
                                }
                            }
                    }).catch(function(error) {
                        console.log(error)
                    });
                },
                deleteUtk: function(index) {
                    payload = {
                        "TargetUrl": this.utks[index].TargetUrl,
                        "KeywordText": this.utks[index].KeywordText
                        }
                    this.$http.put('/keywords/remove', payload).then(function(response) {
                        this.message = response.data.Message
                        this.utks.splice(index, 1)
                        console.log(response)
                    }).catch(function(error) {
                        console.log(error)
                    });
                }
            }
        })
    </script>
    <style scoped>
        .content {
            height: 100%;
            margin-left:18%;
            float:right;
            width: 82%;
            margin-top: 6vh;
        }
        input[type=text], select {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .multiselect {
            width: 50%;
            display: inline-block;
        }
        .addkeyword {
            margin-bottom: 25px;
        }
        .buttonCreate {
            background-color: #A9A9A9;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .buttonDelete {
            background-color: #FF9999;
            border: none;
            color: white;
            padding: 8px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
        }
    </style>
{{ end }}