{{ define "content" }}
    <div id="app">
        <div class="addkeyword"> 
            <h1>
                Add a new keyword
            </h1>
            <p v-for="(message, index) in messages">
                <span v-html="message"></span>
            </p>
            <div>
                <span>Keyword's targets</span>
                <vue-multi-select
                    v-model="selectedTargets"
                    :options="targets"
                    class="multiselect"
                >
                </vue-multi-select>
            </div>
            <div>
                <label id="Keyword" for="Keyword" class="mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
                    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">text_fields</i>
                    <input class="mdc-text-field__input" type="text" aria-labelledby="Keyword" v-model="newKeyword.Text">
                    <span class="mdc-floating-label" id="Keyword">Keyword</span>
                    <div class="mdc-line-ripple"></div>
                </label>
                <button class="mdc-icon-button material-icons" aria-label="Check" v-on:click="createKeyword">check</button>
            </div>
        </div>
        <div>
            <h1>
                My keywords
            </h1>
            <div>
                <label id="Filter" for="Filter" class="mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
                    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" role="button">text_fields</i>
                    <input class="mdc-text-field__input" type="text" aria-labelledby="Filter" v-model="filter">
                    <span class="mdc-floating-label" id="Filter">Filter by any field</span>
                    <div class="mdc-line-ripple"></div>
                </label>
            </div>
            <div class="mdc-data-table">
                <table class="mdc-data-table__table" aria-label="Created Keywords">
                    <thead>
                        <tr class="mdc-data-table__header-row">
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">CreatedAt</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Keyword</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Target</th>
                        </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                        <tr v-for="(row, index) in filteredRows" class="mdc-data-table__row">
                            <td class="mdc-data-table__cell" v-html="row.CreatedDate"></td>
                            <td class="mdc-data-table__cell" v-html="row.KeywordText"></td>
                            <td class="mdc-data-table__cell" v-html="row.TargetName"></td>
                            <td class="mdc-data-table__cell">
                                <button 
                                    class="material-icons mdc-top-app-bar__action-item mdc-icon-button" 
                                    aria-label="Clear" 
                                    v-on:click="deleteUtk(index)">clear
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue-simple-multi-select@latest"></script>
    <script>
        new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data: {
                    messages: '',
                    targets: {{.Targets}},
                    utks: {{.Utks}},
                    newKeyword: {},
                    selectedTargets: null,
                    filter: ''
                },
            methods: {
                createKeyword: function() {
                    this.$http.put('/keywords', {
                        "selectedTargets": this.selectedTargets,
                        "newKeyword": this.newKeyword
                        }).then(function(response) {
                            this.messages = response.data.Messages
                            this.utks = response.data.Utks;
                    }).catch(function(error) {
                        console.log(error)
                    });
                },
                deleteUtk: function(index) {
                    payload = {
                        "TargetName": this.utks[index].TargetName,
                        "KeywordText": this.utks[index].KeywordText
                        }
                    this.$http.put('/keywords/remove', payload).then(function(response) {
                        this.messages = response.data.Messages
                        this.utks = response.data.Utks;
                    }).catch(function(error) {
                        console.log(error)
                    });
                }
            },
            computed: {
                filteredRows() {
                    return this.utks.filter(row => {
                        const CreatedDate = row.CreatedDate.toString().toLowerCase();
                        const KeywordText = row.KeywordText.toString().toLowerCase();
                        const TargetName = row.TargetName.toString().toLowerCase();
                        const searchTerm = this.filter.toLowerCase();
                        return (
                            CreatedDate.includes(searchTerm) || KeywordText.includes(searchTerm) || TargetName.includes(searchTerm)
                        );
                    });
                }
            }
        })
    </script>
    <script type="module">
        const topAppBarElement = mdc.dataTable.MDCDataTable.attachTo(document.querySelector('.mdc-data-table'));
        const textKeyword = mdc.textField.MDCTextField.attachTo(document.getElementById("Keyword"));
        const textFilter= mdc.textField.MDCTextField.attachTo(document.getElementById("Filter"));
        const button = mdc.ripple.MDCRipple.attachTo(document.querySelector('.mdc-icon-button'));
    </script>
    <style>
        @use "@material/checkbox"; // Required only for data table with row selection.
        @use "@material/data-table";
        @include checkbox.core-styles;
        @include data-table.core-styles;

        @use "@material/fab/mdc-fab";

        .multiselect {
        }

    </style>
{{ end }}