{{ define "sidebar" }}
    <aside class="mdc-drawer mdc-top-app-bar--fixed-adjust">
        <div class="mdc-drawer__content">
            <nav class="mdc-list" role="listbox">
                <a class="mdc-list-item mdc-list-item--selected" role="option" tabindex="0" href="/targets">
                    <i class="material-icons mdc-list-item__graphic">gps_fixed</i>
                    <span class="mdc-list-item__text">Targets</span>
                </a>
                <a class="mdc-list-item" role="option" href="/keywords">
                    <i class="material-icons mdc-list-item__graphic">text_fields</i>
                    <span class="mdc-list-item__text">Keywords</span>
                </a>
                <a class="mdc-list-item" role="option" href="/results">
                    <i class="material-icons mdc-list-item__graphic">local_fire_department</i>
                    <span class="mdc-list-item__text">Results</span>
                </a>
            </nav>
        </div>
    </aside>
    <script type="module">
        const list = mdc.list.MDCList.attachTo(document.querySelector('.mdc-list'));
        list.singleSelection = true;
    </script>
    <style>
        @use "@material/drawer/mdc-drawer";
        @use "@material/list/mdc-list"
        @include icon-button.core-styles;
    </style>
{{ end }}