{{ define "content" }}
    <div id="app">
        <div class="content">
            <h1>
                Add a new target
            </h1>
            <span v-html="message"></span>
            <div class="addtarget">
                <input type="text" 
                    placeholder="New Target" 
                    v-on:keyup.enter="createTarget"
                    v-model="newTarget.Url">
                <span>
                    <button v-on:click="createTarget" class="buttonCreate">Create</button>
                </span>
            </div>
            <div>
                <h1>
                    My targets
                </h1>
                <table v-if="targets">
                    <tr>
                        <th>CreatedAt</th>
                        <th>Target</th>
                    </tr>
                    <tr v-for="(target, index) in targets">
                        <td>[[ target.CreatedDate ]]</td>
                        <td>[[ target.Url ]]</td>
                        <td>
                            <span>
                                <button v-on:click="deleteTarget(index)" class="buttonDelete">
                                    <i>Delete</i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data: {
                    message: '',
                    targets: {{.Data}},
                    newTarget: {}
                },
            methods: {
                createTarget: function() {
                    this.$http.put('/targets', this.newTarget).then(function(response) {
                        this.message = response.data.Message
                        if(response.data.Added){

                            if (this.targets == null){
                                this.targets = [this.newTarget]
                            } else {
                                this.targets.push(this.newTarget)
                            }

                        }
                        this.newTarget = {}
                    }).catch(function(error) {
                        console.log(error)
                    });
                },
                deleteTarget: function(index) {
                    payload = {"Url": this.targets[index].Url}
                    this.$http.put('/targets/remove', payload).then(function(response) {
                        this.message = response.data.Message
                        this.targets.splice(index, 1)
                    }).catch(function(error) {
                        console.log(error)
                    });
                }
            }
        })
    </script>
    <style scoped>
        .content {
            height: 100%;
            margin-left:18%;
            float:right;
            width: 82%;
            margin-top: 6vh;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        input[type=text], select {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .buttonCreate {
            background-color: #A9A9A9;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }
        .buttonCreate:hover {
            background-color: #666363;
        }
        .buttonDelete {
            background-color: #FF9999;
            border: none;
            color: white;
            padding: 8px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
        }
        .buttonDelete:hover {
            background-color: #e3291b;
        }
        .addtarget {
            margin-bottom: 25px;
        }
    </style>
{{ end }}