{{ define "topbar" }}
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Hi {{.User.UserName}}</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <button 
                    class="material-icons mdc-top-app-bar__action-item mdc-icon-button" 
                    aria-label="Person"
                    onclick="location.href='/profile';">person
                </button>
                <button 
                    class="material-icons mdc-top-app-bar__action-item mdc-icon-button" 
                    aria-label="Login" 
                    onclick="location.href='/logout';">logout
                </button>
            </section>
        </div>
    </header>
    <script type="module">
        const topAppBarElement = mdc.topAppBar.MDCTopAppBar.attachTo(document.querySelector('.mdc-top-app-bar'));
    </script>
    <style>
        @use "@material/icon-button";
        @use "@material/top-app-bar/mdc-top-app-bar";

        @include icon-button.core-styles;
    </style>
{{ end }}