{{ define "content" }}
    <div class="content">
        <div id="app">
            <p v-for="(error, index) in errors">
                <span v-html="error"></span>
            </p>
            <div>
                <label for="UserName">User Name</label> 
                <input v-model="fields.UserName" placeholder="User Name">
            </div>
            <div>
                <label for="FirstName">First Name</label> 
                <input v-model="fields.FirstName" placeholder="First Name">
            </div>
            <div>
                <label for="LastName">Last Name</label> 
                <input v-model="fields.LastName" placeholder="Last Name">
            </div>
            <div>
                <label for="Email">Email</label> 
                <input v-model="fields.Email" placeholder="Email">
            </div>
            <div>
                <label for="DateBirth">Date of Birth</label> 
                <input type="date" v-model="fields.DateBirth" placeholder="Date of Birth">
            </div>
            <div>
                <label for="Country">Country</label> 
                <input v-model="fields.Country" placeholder="Country">
            </div>
            <div>
                <label for="City">City</label> 
                <input v-model="fields.City" placeholder="City">
            </div>
            <div>
                <label for="Gender">Gender</label> 
                <select v-model="fields.Gender">
                    <option disabled value="">Please select one</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div>
                <label for="NewPassword">New Password</label> 
                <input v-model="fields.NewPassword" placeholder="New Password">
            </div>
            <div>
                <label for="RepeatNewPassword">Repeat New Password</label> 
                <input v-model="fields.RepeatNewPassword" placeholder="Repeat New Password">
            </div>
            <div>
                <label for="CurrentPassword">Current Password</label> 
                <input v-model="fields.CurrentPassword" placeholder="Current Password">
            </div>
            <div>
                <button v-on:click="updateProfile">Update My Profile</button>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data: {
                message: '',
                errors: '',
                fields: {}
            },
            methods: {
                updateProfile: function() {
                    this.$http.put('/profile', this.fields).then(function(response) {
                        this.errors = response.data.Errors
                        this.message = response.data.Message
                    }).catch(function(error) {
                        console.log(error)
                    });
                }
            }
        })
    </script>
{{ end }}