{{ define "content" }}
    <div class="content">
        <div id="app">
            [[ message ]]
            <ul>
                <li v-for="(target, index) in targets">
                    [[ target.Url ]]
                    <span>
                        <button v-on:click="deleteTarget(index)">
                            <i></i>
                        </button>
                    </span>
                </li>
            </ul>
            <div class="input-group">
                <input type="text" 
                    class="form-control" 
                    placeholder="New Target" 
                    v-on:keyup.enter="createTarget"
                    v-model="newTarget.Url">
                <span>
                    <button v-on:click="createTarget">Create</button>
                </span>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data: {
                    message: '',
                    targets: {{.Data}},
                    newTarget: {}
                },
            methods: {
                createTarget: function() {
                    this.$http.put('/targets', this.newTarget).then(function(response) {
                        this.message = response.data.Message
                        if(response.data.Added){
                            this.targets.push(this.newTarget)
                        }
                        this.newTarget = {}
                    }).catch(function(error) {
                        console.log(error)
                    });
                },
                deleteTarget: function(index) {
                    payload = {"Url": this.targets[index].Url}
                    this.$http.put('/targets/remove', payload).then(function(response) {
                        this.message = response.data.Message
                        this.targets.splice(index, 1)
                    }).catch(function(error) {
                        console.log(error)
                    })
                }
            }
        })
    </script>
{{ end }}